<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.kits.movie.dao.CommentMapper">
 	<resultMap type="comment" id="result">
 		<id property="id_comment" column="id_comment"/>
 		<result property="id_film" column="id_film"/>
 		<result property="id_user" column="id_user"/>
 		<result property="content" column="content"/>
 		<result property="date_comment" column="date_comment"/>
 	</resultMap>
 	<select id="getAllComment" resultType="comment" resultMap="result">
 		select * from comment
 	</select>
 </mapper>